@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.card {
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    -webkit-box-shadow: 27px 46px 91px 0px rgba(107,107,107,1);
    -moz-box-shadow: 27px 46px 91px 0px rgba(107,107,107,1);
    box-shadow: 27px 46px 91px 0px rgba(107,107,107,1);
    z-index: 1;
}  
.tools {
    display: flex;
    align-items: center;
    padding: 2px 6px;
}  
.circle {
    padding: 0 4px;
    cursor: pointer;
}
.box {
    display: inline-block;
    align-items: center;
    width: 8px;
    height: 8px;
    padding: 1px;
    border-radius: 50%;
   }
.red {
    background-color: #EA2027;
}
.yellow {
    background-color: #FFC312;
}
.green {
    background-color: #00ca4e;
}
.card_content {
    position: relative;
    inset: -15px 0px;
    padding: 0px 0px 0px 0px;
    transition: 0.5s;
    border-radius: 10px;
}
/* Configurações do container de navegação */

.navigation {
    width: 60px;
    overflow: hidden;
    transition: 0.5s;
}
.navigation.active {
    width: 270px;
}
/* Configurações dos itens da lista */

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    padding: 3px 0px;
    transition: 0.5s;
    cursor: pointer;
}

/* Configurações gerais dos ícones e textos */

.navigation ul li a {
    position: relative;
    display: block;
    height: 35px;
    border-radius: 8px;
    margin: 4px 8px 4px 10px;
    display: flex;
    text-decoration: none;
    inset: 0px;
    color: #2d3436;
    transition: 0.5s;
}
.navigation ul li:hover a {
    background-color: #d0d1d849;
}
.navigation ul li:hover .destact {
    transition: 0.5s;
    display: block;
}
.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 68px;
    height: 60px;
    line-height: 59px;
    inset: -6px 9px;
}
.navigation ul li a .icon ion-icon {
    font-size: 1.30em;
}
.navigation ul li a .title {
    position: relative;
    inset: 7px -18px;
    display: block;
    height: 60px;
    font-size: 0.90rem;
    font-weight: 600;
    text-align: start;
    white-space: nowrap;
}
.navigation.active ul li a .title {
    inset: 7px -20px;
}
/* Configurações das notificações */

.navigation ul li a .notifications {
    position: relative;
    inset: 7px 75px;
    width: 20px;
    height: 20px;
    border-radius: 30%;
    background-color: #EA2027;
    color: #fff;
    text-align: center;
    line-height: 20px;
    font-size: 0.70rem;
    font-weight: 300;
}
/* Configurações do primeiro filho */

.navigation ul li:nth-child(1) a .icon ion-icon {
    font-size: 2.30rem;
}
.navigation ul li:nth-child(1) a .icon {
    inset: -1px 2px;
}
.navigation ul li:nth-child(1) a .title {
    font-weight: 800;
}
/* Configurações do segundo filho */

.navigation ul li:nth-child(2) div {
    position: relative;
    display: block;
    height: 35px;
    border-radius: 8px;
    background-color: #d0d1d849;
    margin: 4px 8px 4px 10px;
    display: flex;
    text-decoration: none;
    inset: 0px;
    color: #2d3436;
    transition: 0.5s;
}
.navigation ul li:nth-child(2) div .icon {
    position: relative;
    display: block;
    min-width: 68px;
    height: 60px;
    line-height: 59px;
    inset: -9px 12px;
}
.navigation ul li:nth-child(2) div input {
    position: relative;
    inset: 0px -25px;
    outline: none;
    border: none;
    background: none;
    display: none;
}
.navigation.active li:nth-child(2) div input {
    display: block;
}
.navigation.active li:nth-child(2) div input::placeholder {
    color: #95a5a6;
}
/* Configurações do terceiro filho */

.navigation ul li:nth-child(3) {
    margin: 5px 0px 0px 0px;
}
.navigation ul li:nth-child(3) span {
    position: relative;
    inset: 0px 12px;
    font-size: 0.76rem;
    font-weight: 600;
    color: #95a5a6;
}
/* Controle do toggle */
.toggle {
    position: relative;
    inset: 35px 0px 0px 50px;
    width: 22px;
    height: 22px;
    background: #0984e3;
    border-radius: 50%;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.15);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}
.toggle span {
    position: relative;
    inset: 2px;
    color: #fff;
}
.card_content .toggle .back {
    display: none;
}
.card_content.active .toggle {
    inset: 35px 0px 0px 260px;
}
.card_content.active .toggle span {
    inset: 0px 0px;
}
.card_content.active .toggle .forward {
    display: none;
}
.card_content.active .toggle .back {
    display: block;
}
/* Configurações do destaque */

.destact {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #EA2027;
    border-radius: 50%;
    inset: -1px -45px;
    z-index: 1;
    display: none;
}